all the links for now for testing
<br>
<a [routerLink]="['confirmation']">confirmation page</a>
<a [routerLink]="['login']">Login Page</a>
<hr>
<h1>admin routes (will become navbar)</h1>

<a [routerLink]="['admin/create']">Create Sample</a> |
<a [routerLink]="['admin/dash']">Admin Dash</a>
<a [routerLink]="['admin/checkout']">Admin SampleTracker</a>
<a [routerLink]="['admin/requests']">Admin OpenRequests</a>
<a [routerLink]="['admin/history']">Admin History</a>

<hr>
<h1>user routes (will become navbar)</h1>

<a [routerLink]="['user/samples']">User Samples</a> |
<a [routerLink]="['user/dash']">User Dash</a>
<hr>
<h1>Below is where components will load:</h1>
<router-outlet></router-outlet>
